breakdown-items.csv filter=lfs diff=lfs merge=lfs -text
definition_contents.csv filter=lfs diff=lfs merge=lfs -text
definitions.csv filter=lfs diff=lfs merge=lfs -text
verb_pairs.csv filter=lfs diff=lfs merge=lfs -text
word_to_sentence.csv filter=lfs diff=lfs merge=lfs -text
word_types.csv filter=lfs diff=lfs merge=lfs -text
adjectives.csv filter=lfs diff=lfs merge=lfs -text
conjugations.csv filter=lfs diff=lfs merge=lfs -text
declensions.csv filter=lfs diff=lfs merge=lfs -text
word-to-breakdown.csv filter=lfs diff=lfs merge=lfs -text
breakdowns-raw.csv filter=lfs diff=lfs merge=lfs -text
definition_examples.csv filter=lfs diff=lfs merge=lfs -text
clean_frequencies.csv filter=lfs diff=lfs merge=lfs -text
family_meanings_v1.csv filter=lfs diff=lfs merge=lfs -text
morphemes_v3.csv filter=lfs diff=lfs merge=lfs -text
nouns.csv filter=lfs diff=lfs merge=lfs -text
sentences.csv filter=lfs diff=lfs merge=lfs -text
translations.csv filter=lfs diff=lfs merge=lfs -text
word_defs.csv filter=lfs diff=lfs merge=lfs -text
word_to_breakdown.csv filter=lfs diff=lfs merge=lfs -text
words.csv filter=lfs diff=lfs merge=lfs -text
