# to ignore an error using flake8, add a line like this
# noqa: <error code>
# where <error code> is a short code like D107

# note that flake8 supports installing many other linting tools as plugins; we currently
# are using flake8-docstrings which is a plugin that integrates pydocstyles with flake8.
# pydocstyles is a linter that checks docstrings for style issues.

# note: pylint catches many of the same errors as flake8. As needed, we should
# disable the errors caught by flake8 in this circumstance because the pylint
# warning messages are more human readable/informative.

[flake8]
ignore=
    # (pydocstyle) requires docstring in __init__, often this is trivial
    D107,

    # (pydocstyle) Multi-line docstring summary should start at the first line
    D212,

    # line too long; black catches this
    E501,

    # line break before binary operator; black causes violations of this
    W503,

    # invalid escape sequence in string such as '\[' with rich; pylint catches this
    W605,
