# to disable certain pylint warnings, use the following format:
# pylint: disable=long-form-warning-code-1,long-form-warning-code-2,...
# Use the long form like "line-too-long" as opposed to the short form of the same error "C0301"

[MESSAGES CONTROL]

disable=
    # taken care of by black
    line-too-long,

    # we have a pre-commit hook that strips trailing whitespace
    trailing-whitespace,

    # pydocstyle catches this
    missing-function-docstring,
