/adjectives.csv
/breakdown-items.csv
/breakdowns-raw.csv
/clean_frequencies.csv
/conjugations.csv
/declensions.csv
/definition_contents.csv
/definition_examples.csv
/definitions.csv
/family_meanings_v1.csv
/morphemes_v3.csv
/nouns.csv
/sentences.csv
/translations.csv
/verb_pairs.csv
/word-to-breakdown.csv
/word_defs.csv
/word_to_breakdown.csv
/word_to_sentence.csv
/word_types.csv
/words.csv
