
#

# rootski_api package with dependencies for "tests/" folder
-e "../rootski_api[dev]"

# aws cdk packages
-e "../infrastructure/iac/aws-cdk/backend"  # package: rootski_backend_cdk
-e "../infrastructure/iac/aws-cdk/cognito"
furo

# extension: markdown with MyST instead of reStructuredText
myst-parser

# live reloading development server for sphinx
sphinx-autobuild

# extension: copy button on code blocks
sphinx-copybutton

# extension: .. tab:: directive
sphinx-inline-tabs

# extension: embed .drawio diagram files into sphinx!
sphinxcontrib-drawio

# extension: add "graph metadata" to HTML pages for social media sites to render link previews
sphinxext-opengraph
