# rootski_api package with dependencies for "tests/" folder
-e "../rootski_api[dev]"

# aws cdk packages
-e "../infrastructure/iac/aws-cdk/backend"  # package: rootski_backend_cdk
-e "../infrastructure/iac/aws-cdk/cognito"

# material ui theme for the sphinx site
furo

# extension: markdown with MyST instead of reStructuredText
myst-parser

# live reloading development server for sphinx
sphinx-autobuild

# extension: copy button on code blocks
sphinx-copybutton

# extension: tabs, cards, grid system, fontawesome/octicon icons and more
# https://sphinx-panels.readthedocs.io/en/sphinx-book-theme/#installation
sphinx-panels

# extension: embed .drawio diagram files into sphinx!
sphinxcontrib-drawio

# extension: add "graph metadata" to HTML pages for social media sites to render link previews
sphinxext-opengraph
